.navbar {
    background-color: darkgray;
    height: 60px;
    padding: 10px;
    display: flex;
    width: 99%;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
}

.menuButton {
    color: darkred;
    padding: 0px 8px;
    border: 1px black solid;
    margin: 0 5px;
}

.menuh6 {
    border: 1px black solid;
    margin: 0;
}

.subMenuContainer {
    border: 1px black solid;
    display: flex;
}

.tigaperlima {
    flex: 1;
    justify-content: center;
}

.duaperlima {
    flex: 1;
    justify-content: flex-end;
}