@import '../../themes/colors';
@import '../../themes/fontType';

.selectable {
    cursor: pointer;
    outline: none;
    height: 35px;
    width: 20vw;
    display: flex;
    align-items: center;
    border: 1px solid $silver;
    border-radius: 5px;
    background-image: linear-gradient($concrete, $mercury);
    opacity: 1;
    transition: opacity 0.2s ease-in;
    font-family: $light;
    color: $scheme4;
    user-select: none;
    margin-bottom: 20px;

    &:hover {
        opacity: 0.8;
        z-index: 0;
    }

    &:active {
        opacity: 0.5;
    }

    .selectableRowWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        p {
            font-family: $regular;
            color: $dustyGray;
        }
    }

    .arrowDownIcon {
        color: $dustyGray;
        transform: none;
        transition: transform 0.2s ease-in;
    }

    .arrowDownIconExpand {
        transform: rotate(180deg);
    }
}

.optionsContainer {
    position: absolute;
    font-family: $light;
    padding: 10px 20px;
    max-height: 200px;
    min-width: 20vw;
    overflow: auto;
    background-color: $white;
    box-shadow: 0 3px 10px $boxShadow;
    border-radius: 6px;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.2s ease-in;
    top: 40px;

    &::-webkit-scrollbar {
        width: 6px;
      }
       
    &::-webkit-scrollbar-track {
        background-color: $scheme5;
        border-radius: 10px;
      }
       
    &::-webkit-scrollbar-thumb {
        background-color: $scheme4;
        border-radius: 10px;

      }

    .listContainer {
        list-style: none;
    }

    .listCard {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: 0.2px solid $silver;
        height: 40px;
        background-color: $white;
        transition: background-color 0.2s ease-in;
        outline: none;

        &:hover {
            background-color: $mercury;
        }

        p {
            font-family: $regular;
            color: $dustyGray;
        }

        .checkIcon {
            color: $scheme2;
        }

        div {
            width: 30px;
        }
    }
}

.optionsContainerExpand {
    transform: scaleY(1);
}