@import '../../themes/colors';
@import '../../themes/fontType';


.title {
    font-family: $light;
    color: $silver;
    font-size: 17px;
    margin-bottom: 20px;
}


// .inputTitle {
//     font-family: $extraLight;
//     font-size: 1em;
//     color: $scheme1;
//     margin-bottom: 0.2em;
//     user-select: none;
// }

.optionsContainer{
    .productsContainer{
        display: flex;
        flex-direction: column;

        .productCardHeader{
            margin: 0 2vw;
            padding-right:4vw;
            font-family: $extraLight;
            font-size: 1em;
            color: $scheme1;
            // border: 1px solid red;
        }

        .productCardItems{
            display: flex;
            justify-content: space-around;
            background-color: $white;
            box-shadow: 0 0 10px $boxShadow2;
            width: 77vw;
            height: 12vh;
            border-radius: 7px;
            margin: 0.3vw 0;
            padding-top: 2vw;
            padding-right: 4vw;
            color: $scheme3;
        }
    }
}

