@import '../../themes/colors';

.productListContainer{

    ul{
        position: absolute;
        width: 78vw;
        margin: 10px 0;
        padding: 10px;
        // border: 1px solid red;
        
    
        li{
            display: flex;
            background-color: $white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            padding: 20px 20px;
            color: black;
            margin: 8px 0;
            transition: background-color .5s;
            border-radius: 4px;
            cursor: pointer;
    
    
            span{
                text-align: center;
                margin: 0;
                padding: 0;
    
                &:nth-child(1){
                    width: 30px;
                }
    
                &:nth-child(2){
                    width: 200px;
                }
    
                &:nth-child(3){
                    width: 200px;
                }
    
                &:nth-child(4){
                    width: 200px;
                }
    
                &:nth-child(5){
                    width: 200px;
                }
    
                &:nth-child(6){
                    width: 200px;
                }
    
                &:nth-child(7){
                    width: 80px;
                }
            }
    
            &:hover{
                background-color: $silver;
    
                
            }
        }
    }
}

