$silver:#CCCCCC;
$primaryColor:#45a049;
$secondaryColor:#4CAF50;
$secondaryColorTr:rgba(76 ,175, 80, 0.3);
$white:white;
$mineShaft:#333333;
$boxShadow:rgba(0, 0, 0, 0.17);
$boxShadow2:rgba(0, 0, 0, 0.1);
$outerSpace: #2a302d;
$basicFontDark: #404040;
$basicFontLight: #9c9c9c;
$alto: #dbdbdb;
$concrete: #f2f2f2;
$mercury: #e3e3e3;
$dustyGray: #999999;
$apricot: #eb7a7a;
$burntSienna: #ed5555;
