$scheme1:#568D99;
$scheme2:#A5CDD6;
$scheme3: #8C4A11;
$scheme4: #D9B493;
$scheme5: #FFE1C7;

$scheme2Tr:rgba(165, 205, 214, 0.3);

$boxShadow:rgba(0, 0, 0, 0.17);
$boxShadow2:rgba(0, 0, 0, 0.1);
$boxShadow3:rgba(0, 0, 0, 0.05);

$white:white;
$silver:#CCCCCC;
$concrete: #f2f2f2;
$mercury: #e3e3e3;
$alto: #dbdbdb;
$dustyGray: #999999;
$mineShaft:#333333;

$apricot: #eb7a7a;
$burntSienna: #ed5555;
