$regular: 'Nunito-Regular';
$italic: 'Nunito-Italic';
$extraLight: 'Nunito-ExtraLight';
$extraLightItalic: 'Nunito-ExtraLightItalic';
$light: 'Nunito-Light';
$lightItalic: 'Nunito-LightItalic';
$semiBold: 'Nunito-SemiBold';
$semiBoldItalic: 'Nunito-SemiBoldItalic';
$bold: 'Nunito-Bold';
$boldItalic: 'Nunito-BoldItalic';