@import '../../themes/colors';
@import '../../themes/fontType';

.title {
 font-family: $extraLight;
 color: $basicFontLight;
 font-size: 17px;
 margin-bottom: 20px;
}

.inputTitle {
    font-family: $bold;
    font-size: 20px;
    color: $basicFontDark;
    margin-bottom: 5px;
}

input[type=text] {
    height: 35px;
    width: 20vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 1px solid $basicFontLight;
    border-radius: 5px;
    font-family: $regular;
    font-size: 15px;
    color: $basicFontDark;
    box-shadow: none;
    transition: all 0.2s ease-in;

    &:focus {
        outline: none;
        border: 2px solid $secondaryColor;
        box-shadow: 0 0 10px $secondaryColorTr;
    }
}

.inputIconContainer {
    display: flex;
    
    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 3vw;
        border-radius: 5px 0 0 5px;
        background-image: linear-gradient($mercury, $silver);;
    }

    p {
        font-family: $bold;
        color: $basicFontDark;
    }

    input[type=number] {
        height: 35px;
        width: 17vw;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-top: 1px solid $basicFontLight;
        border-right: 1px solid $basicFontLight;
        border-bottom: 1px solid $basicFontLight;
        border-left: none;
        border-radius: 0 5px 5px 0;
        font-family: $regular;
        font-size: 15px;
        color: $basicFontDark;
        box-shadow: none;
        transition: all 0.2s ease-in;
    
        &:focus {
            outline: none;
            border: 2px solid $secondaryColor;
            box-shadow: 0 0 10px $secondaryColorTr;
        }
    }
}

.formContainer {
    display: flex;

    .formLeftSide {
        flex: 1;
        border-right: 1px solid $basicFontLight;
    };

    .formRightSide {
        flex: 2;
        padding-left: 100px;
    }
}
