@import '../../themes/colors';
@import '../../themes/fontType';

.inputBasic {
    height: 35px;
    width: 20vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 1px solid $silver;
    border-radius: 5px;
    font-family: $regular;
    font-size: 15px;
    color: $scheme4;
    box-shadow: none;
    transition: all 0.2s ease-in;

    &:focus {
        outline: none;
        border: 2px solid $scheme2;
        box-shadow: 0 0 10px $scheme2Tr;
    }
}