@import "./themes/colors";

.bodyContainer {
    display: flex;
    flex-direction: column;
}

.upperNavbarContainer {
    display: flex;
    height: 60px;
    background-color: $outerSpace;
    box-shadow: 0 5px 20px 5px $boxShadow;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.mainContainer {
    display: flex;
    margin-top: 60px;
}

.sideBarContainer {
    position: fixed;
    background-color: $outerSpace;
    width: 15vw;
    height: 100vh;
    transition: width 0.2s ease-in;
}

.sideBarContainerCollapse {
    width: 4vw;
}

.contentAndNavContainer {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    width: 100%;
    transition: margin-left 0.2s ease-in;
}

.contentAndNavContainerExpand {
    margin-left: 4vw;
}

.contentContainer {
    margin-top: 120px;
    padding-left: 50px;
}